@use "../abstracts" as *;
@use "../base" as *;

#header {
    @include flex(row, center, flex-start);
    padding: 3rem;

    img {
        width: 13rem;
        object-fit: contain;
    }
}


@media (min-width: 768px) {
    #header {
        padding: 4rem;

        img {
            width: 15rem;
        }
    }
}


@media (min-width: 1024px) {
    #header {
        padding: 4rem 4rem 0;

        img {
            width: 20rem;
        }
    }
}


@media (min-width: 1250px) {
    #header {
        padding: 6rem 7rem 0;
    }
}