// ===== Colors ===== //
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
$white: hsl(0, 0%, 100%);

// ===== Font ===== //
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;